<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../Partials/head %>
</head>

<body class="container">
  <main>
    <header>
      <% include ../Partials/header %>
    </header>
    <div class="jumbotron">
      <h1>Add some quotes!</h1>
      <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
  <footer>
      <% include ../Partials/footer %>
  </footer>
</body>
</html>
